# SPDX-FileCopyrightText: 2025 Hana Kretzer <hanakretzer@gmail.com>
#
# SPDX-License-Identifier: MIT

[__config__]
oldver = "_versions/old_versions.json"
newver = "_versions/new_versions.json"
keyfile = "./keys.toml"
max_concurrency = 3

["ftb-server-installer.vendorHash"]
source = "cmd"
cmd = '''
    (nix build .#ftb-server-installer --no-link |& grep -oP "got\:.*\Ksha256.*") \
        || jq -r '.data."ftb-server-installer.vendorHash".version' _versions/new_versions.json
'''

["inPlayerEpisodePreview.version"]
source = "github"
github = "Namo2/InPlayerEpisodePreview"
use_max_tag = true
prefix = "v"

["luarenamer.nugetDepsHash"]
source = "cmd"
cmd = "nix run .#update-dotnet -- luarenamer pkgs/by-name/lu 2> /dev/null"

["prowlarr._yarnHash"]
source = "cmd"
cmd = "nix run .#prefetch-yarn -- prowlarr 2> /dev/null"

["prowlarr.nugetDepsHash"]
source = "cmd"
cmd = "nix run .#update-dotnet -- prowlarr pkgs/overrides 2> /dev/null"

["shoko-webui.pnpmHash"]
source = "cmd"
cmd = '''
    (nix build .#shoko-webui --no-link |& grep -oP "got\:.*\Ksha256.*") \
        || jq -r '.data."shoko-webui.pnpmHash".version' _versions/new_versions.json
'''

["shoko.nugetDepsHash"]
source = "cmd"
cmd = "nix run .#update-dotnet -- shoko pkgs/by-name/sh 2> /dev/null"

["shokofin.nugetDepsHash"]
source = "cmd"
cmd = "nix run .#update-dotnet -- shokofin pkgs/by-name/sh 2> /dev/null"

["suwayomi-server.gradleDepsHash"]
source = "cmd"
cmd = "nix run .#update-gradle -- suwayomi-server pkgs/overrides 2> /dev/null"

["suwayomi-server.revision"]
source = "httpheader"
url = "https://api.github.com/repos/Suwayomi/Suwayomi-Server/commits?sha=master&per_page=1&page=1"
header = "link"
regex = '(?<=page=)\d{2,5}'

["suwayomi-server.version"]
source = "github"
github = "Suwayomi/Suwayomi-Server"
use_max_tag = true
prefix = "v"

["suwayomi-webui.revision"]
source = "httpheader"
url = "https://api.github.com/repos/Suwayomi/Suwayomi-WebUI/commits?sha=master&per_page=1&page=1"
header = "link"
regex = '(?<=page=)\d{2,5}'

["suwayomi-webui.yarnHash"]
source = "cmd"
cmd = '''
    (nix build .#suwayomi-webui --no-link |& grep -oP "got\:.*\Ksha256.*") \
        || jq -r '.data."suwayomi-webui.yarnHash".version' _versions/new_versions.json
'''
